.footer {
  height: 100%;
  width: 100vw;
  background-color: #dee3e8;
}

.footer__services {
  list-style: none;
  margin: 0;
  float: right;
}

.footer__service {
  display: inline-block;
}

.footer__icon--online {
  color: green;
}

.footer__icon--offline {
  color: red;
}

.footer__service-label {
  padding-left: -10px;
}

.footer__connection-url {
  display: inline-block;
  font-size: 14px;
  padding: 7px 10px;
}
