$footer-background-color: #dee3e8;

.footer {
  height: 100%;
  width: 100vw;
  background-color: $footer-background-color;
  position: relative;
}

.footer__services {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.footer__service {
}

.footer__service-label {
  font-size: 14px;
}

.footer__general-status-icon {
  position: absolute;
  right: 7px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.footer__icon--online,
.footer__icon--offline {
  margin-right: 5px;
}

.footer__icon--online,
.footer__general-status-icon--healthy {
  color: green;
}

.footer__general-status-icon--down,
.footer__icon--offline {
  color: red;
}

.footer__general-status-icon--warning {
  color: orange;
}

.footer__service-status-panel {
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 130px;
  width: 200px;
  background-color: $footer-background-color;
  z-index: 100;
  border-bottom: 1px solid white;
}

.footer__connection-url {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  height: 20px;
  font-size: 14px;
}

.footer__logo-container {
  height: 25px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 40px;
}

.footer__logo {
  display: inline-block;
  height: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.footer__logo-openfin{
  background: url('../../common/images/openfin-logo.png') no-repeat;
  width: 84px;
  float: right;
  margin-top: 3px;
}

.footer__logo-openfin--hidden{
  display: none;
}

.footer__logo-adaptive{
  background: url('../../common/images/adaptive-logo.png') no-repeat;
  width: 110px;
}
