@import "variables.scss";
$price-movement-width: 7.5%;
$price-width: calc(50% - #{$price-movement-width} / 2);


.spot-tile {
  position: relative;
  width: 100%;
  height: 165px;
  color: #c2c5c9;
  background-color: #262a33;
  border: solid 1px #424545;
  &:hover {
    background-color: rgba(0, 167, 204, 0.16);
    border: 1px solid $primary-color;
    .spot-tile__icon--chart,
    .spot-tile__icon--tearoff,
    .spot-tile__delivery-date {
      display: inline;
    }
  }
  & * {
    box-sizing: border-box;
  }

  .spot-tile__execution-label,
  .spot-tile__delivery-date {
    display: none;
  }

  &.spot-tile--stale,
  &.spot-tile--error {
    background-color: $spot-tile-error-color;
    color: $spot-tile-primary-color;
  }
  &.spot-tile--executing {
    .spot-tile__execution-label {
      color: $spot-tile-primary-color;
      display: inline-block;
      position: absolute;
      right: 60px;
      top: 0;
      text-transform: uppercase;
      text-align: right;
    }
  }
  &.spot-tile--executing,
  &.spot-tile--readonly {
    .spot-tile__price {
      cursor: default;
    }
  }
  &:not(.spot-tile--readonly) {
    .spot-tile__price:hover {
      background-color: $primary-color;
      color: white;

      .price-button__pip {
        color: inherit;
      }
    }
  }
}

.spot-tile__icon--hidden{
  display: none;
}

.spot-tile__container {
  position: absolute;
  top: 10px;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.spot-tile__symbol {
  color: white;
  font-family: BrandonRegular;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.spot-tile__price {
  cursor: pointer;
  position: absolute;
  width: $price-width;
  top: 35px;
}

.spot-tile__price--bid {
  left: -10px;
  margin-left: 1px;
}

.spot-tile__price--ask {
  right: -10px;
  margin-right: 1px;
}

.spot-tile__price-movement {
  position: absolute;
  left: 45%;
  text-align: center;
  top: 41px;
  width: 10%;
}

.spot-tile__notional {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  font-family: BrandonRegular;
}

.spot-tile__controls {
  float: right;
}


.spot-tile__icon--chart.glyphicon,
.spot-tile__icon--tearoff.glyphicon,
.spot-tile__icon--undock.glyphicon {
  display: none;
  cursor: pointer;
  margin-left: 6px;
}

.spot-tile__icon--rotate{
  margin-left: 6px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
      }
  }
}

.spot-tile__icon--hidden {
  visibility: hidden;
}

.spot-tile__notification-message {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}


.spot-tile__delivery {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-family: BrandonRegular;
  text-transform: uppercase;
}

#popout-content-container {
  .spot-tile {
    border: none;
  }
}
