src/client/node_modules
src/client/coverage
.idea/
npm-debug.log
dist/
*.suo
project.lock.json
*.xproj.user
artifacts
AdaptiveTrader.iml
src/server/.vs/config/applicationhost.config
.vscode
node.pid
**/.crossbar/node.key
*.iml
*.orig
