src/client/node_modules
src/client/coverage
.idea/
.vs/
npm-debug.log
dist/
*.suo
project.lock.json
*.xproj.user
artifacts
AdaptiveTrader.iml
src/server/.vs/config/applicationhost.config
.vscode
node.pid
**/.crossbar/node.key
*.iml
*.orig
key.priv
key.pub
bin/
obj/
docker-compose.yml
*.pyc
