container
build/broker/build
build/crossbar/build
build/eventstore/build
build/fluentd/build
build/gcloud/build
build/mono/build
build/node/build
build/servers/build
build/servers/dnxcache
build/testtools/build
build/web/build
build/nsgate/build

jq
container_id
populate_id
eventstore_id
garbage
