.header {
  width: 100vw;
  height: 100%;
}

.header__controls {
  float: right;
  list-style: none;
  margin: auto;
}

.header__control_item {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: white;

  > a {
    color: inherit;
  }
}

