@keyframes highlightTradeInBlotter {
  0% { background-color: #7DE3FC; }
  100% { background-color: white; }
}

.blotter {
  background: white;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .fixedDataTableLayout_main {
    border-width: 0;
  }
  .fixedDataTableLayout_bottomShadow {
    margin-top: 0;
  }
  .fixedDataTableCellLayout_wrap1 {
    width: 100%;
  }
  .fixedDataTableCellLayout_main {
    border: none;
  }
  .public_fixedDataTableRow_highlighted,
  .public_fixedDataTableCell_main,
  .public_fixedDataTableCell_cellContent {
    background-color: transparent;
  }
  .public_fixedDataTableCell_cellContent {
    padding: 6px 10px;
    font-weight: 100;
    font-size: 14px;
    font-family: BrandonMedium;
    color: #1d2027;
  }

  .public_fixedDataTable_header .public_fixedDataTableCell_main,
  .public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
    background-color: #e1e3e8;
    color: #1d2027;
    font-family: BrandonMedium;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.blotter__trade-field--align-right {
  .public_fixedDataTableCell_cellContent {
    text-align: right;
  }
}

.blotter__controls {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  color: #c2c5c9;
}

.blotter__controls--hidden{
  display: none;
}

.blotter__trade {
  border: none;
  border-bottom: 1px solid #e1e3e8;
  &:hover {
    background-color: #fffed7;
  }
}

.public_fixedDataTableRow_main.blotter__trade--new {
  animation: highlightTradeInBlotter 0.5s ease-in;
}

.public_fixedDataTableRow_main.blotter__trade--highlighted {
  background-color: #7DE3FC;
}

.blotter__trade--rejected {
  .public_fixedDataTableCell_cellContent {
    text-decoration: line-through;
  }

  .blotter__trade-status .public_fixedDataTableCell_cellContent {
    text-decoration: none;
    color: #ee5f5b;
  }
}

.blotter__trade--processing {
  .public_fixedDataTableCell_cellContent {
    color: #f89406;
    background: rgba(255,255,255,.1);
  }
}

.blotter--offline {
  opacity: .5;
}


