@keyframes hightlightNewTradeInBlotter {
  0% { background-color: #7DE3FC; }
  100% { background-color: white; }
}

.blotter {
  background: white;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  .fixedDataTableCellLayout_wrap1 {
    width: 100%;
  }
  .fixedDataTableCellLayout_main {
    border: none;
  }
  .public_fixedDataTableRow_highlighted,
  .public_fixedDataTableCell_main,
  .public_fixedDataTableCell_cellContent {
    background-color: transparent;
  }
  .public_fixedDataTableCell_cellContent {
    padding: 4px 10px;
    font-weight: 100;
    color: #9e9e9e;
  }

  .public_fixedDataTable_header .public_fixedDataTableCell_main,
  .public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
    background-color: white;
    color: #7e7e7e;
    font-weight: 400;
  }
}

.blotter__trade-field--emphasized {
  .public_fixedDataTableCell_cellContent {
    font-weight: 400;
    color: black;
  }
}

.blotter__trade-field--align-right {
  .public_fixedDataTableCell_cellContent {
    text-align: right;
  }
}

.blotter__controls {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  cursor: pointer;
}

.blotter__trade {
  border: none;
  border-bottom: 1px dashed rgb(232, 233, 234);
  &:hover {
    background-color: #fffed7;
  }
}

.blotter__trade--new {
  animation: hightlightNewTradeInBlotter 0.5s ease-in;
}

.blotter__trade--rejected {
  .public_fixedDataTableCell_cellContent {
    text-decoration: line-through;
  }

  .blotter__trade-status .public_fixedDataTableCell_cellContent {
    text-decoration: none;
    color: #ee5f5b;
  }
}

.blotter__trade--processing {
  .public_fixedDataTableCell_cellContent {
    color: #f89406;
    background: rgba(255,255,255,.1);
  }
}

.blotter--offline {
  opacity: .5;
}


