.blotter {
  background: white;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: scroll;

  .fixedDataTableCellLayout_main {
    border: none;
  }
  .public_fixedDataTableRow_highlighted,
  .public_fixedDataTableCell_main,
  .public_fixedDataTableCell_cellContent {
    background-color: transparent;
  }
  .public_fixedDataTableCell_cellContent {
    padding: 4px;
  }
}

.blotter__controls {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  cursor: pointer;
}

.blotter__trade {
  border: none;
  border-bottom: 1px dashed rgb(232, 233, 234);
  &:hover {
    background-color: #7DE3FC;
  }
}

.blotter__trade--rejected {
  .public_fixedDataTableCell_cellContent {
    text-decoration: line-through;
  }

  .blotter__trade-status .public_fixedDataTableCell_cellContent {
    text-decoration: none !important;
    color: #ee5f5b;
  }
}

.blotter__trade--processing {
  .public_fixedDataTableCell_cellContent {
    color: #f89406;
    background: rgba(255,255,255,.1);
  }
}

.blotter--offline {
  opacity: .5;
}


