$container-bg-color:  #30333a;
$active-color:        #262a33;
$border-color:        #424545;
$button-height:       50px;

.sidebar-region__content {
  width: 440px;
}

.sidebar-region__container{
  background-color: $container-bg-color;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.sidebar-region__container--no-content{
  display: none;
}

.sidebar-region__element{
  border-left: 1px solid $border-color;
  width: 100%;
  flex: 1;
}

.sidebar-region__element--active {
  background-color: $active-color;
  border: 1px solid $border-color;
  border-left-color: $active-color;
  &:hover{
    background-color: $container-bg-color;
    border-right-color: $border-color;
  }
}

.sidebar-region__element--inactive {
  border: 1px solid $container-bg-color;
  border-left-color: $border-color;
  background-color: $container-bg-color;
  &:hover{
    background-color: $active-color;
    border-bottom-color: $border-color;
    border-top-color: $border-color;
  }
}

.sidebar-region__element-button {
  height: $button-height;
  color: white;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
}
