@import "variables.scss";

.price-button {
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
}

.price-button__direction {
  text-transform: uppercase;
  font-size: 16px;
}

.price-button__wrapper {
  white-space:nowrap;
}

.price-button__big-figure,
.price-button__tenth,
.price-button__pip {
  display: inline-block;
  vertical-align: middle;
}

.price-button__big-figure,
.price-button__tenth {
  font-size: 18px;
}

.price-button__big-figure {
  text-align: right;
  width: $price-big-figure-width;
}

.price-button__tenth {
  text-align: left;
  width: $price-tenth-width;
}

.price-button__pip {
  font-size: 44px;
  width: $price-pip-width;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
