@import "variables.scss";

.trade-notification--rejected,
.trade-notification--error {
  .trade-notification__trade-status {
    color: $spot-tile-error-color;
  }
}

.trade-notification--rejected {
  .trade-notification__trade-status {
    display: block;
  }
}

.trade-notification__label {
  color: #c2c5c9;
  text-transform: uppercase;
  font-size: 12px;
  font-family: BrandonMedium;
}

.trade-notification__value {
  color: white;
  font-size: 16px;
  font-family: BrandonRegular;
}

.trade-notification__label--versus {
  font-size: 10px;
}

.trade-notification__value--currency {
  color: #c2c5c9;
  font-size: 14px;
}

.trade-notification__value--notional {
  color: #f8ab02;
  font-size: 24px;
  font-family: BrandonRegular;
  display: inline-block;
  margin: -5px -2px -5px 0;
}

.trade-notification__button--dismiss {
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: inherit;
}

.trade-notification__button--dismiss-icon {
  transform: rotate(45deg);
}

.trade-notification__trade-status {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  color: inherit;
}

.trade-notification__details-items {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: 10px;
  padding-top: 10px;
}

.trade-notification__details-item {
  flex: 1;
}

