$spot-tile-primary-color: white;
$spot-tile-secondary-color: #90AFC1;
$spot-tile-error-color: #da4d2e;

$price-pip-width: 70px;
$price-tenth-width: 20px;
$price-big-figure-width: calc(100% - #{$price-pip-width} - #{$price-tenth-width});
