.blotter {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 300px;
  table {
    tbody, thead {
      display: block;
      tr {
        width: 100%;
        max-height: 36px;
        &.Rejected {
          .status {
            color: $brand-danger;
            text-decoration: none;
            text-transform: uppercase;
          }
          td {
            text-decoration: line-through;
          }
          background: rgba(0,0,0,.1);
        }
        &.Processing {
          color: $brand-warning;
          background: rgba(255,255,255,.1);
        }
      }
    }
    thead {
      box-shadow: 0 2px 2px rgba(0,0,0,.5);
      th {
        border-bottom: none;
      }
    }
    tbody {
      height: 268px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    td, th {
      width: 100px;
      max-height: 36px;
      div {
        display: block;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 36px !important;
      }
      &.large {
        width: 200px;
      }
    }
  }
}
