.blotter {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 20%;
  max-height: 300px;

  .blotter-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .tile & {
    height: 100%;
    max-height: 100%;
    .table-blotter {
      height: 100%;
      tbody {
        height: 100%;
      }
      thead tr {
        -webkit-app-region: drag;
      }
    }
  }

  div.status {
    position: absolute;
    right: 0;
    transform: translate(-38px, 8px);
    display: none;
  }

  &.offline {
    table {
      opacity: .4;
    }
    div.status {
      display: block;
    }
  }

  table {
    margin-bottom: 0;
    &.table-blotter {
      border: 0;
      height: 100%;
      tbody {
        height: 100%;
      }
      box-shadow: inset 0 1px 1px rgba(0,0,0, .5);
    }
    &.table-heading {
      margin-bottom: 0px;
      background: $gray;
      th {
        border-bottom: none;
      }
       box-shadow: 0 2px 2px rgba(0,0,0,.5);
    }
    tbody, thead {
      display: block;
      tr {
        width: 100%;
        max-height: 26px;
        &.Rejected {
          .status {
            color: $brand-danger;
            text-decoration: none;
            text-transform: uppercase;
          }
          td {
            text-decoration: line-through;
          }
          background: rgba(0,0,0,.1);
        }
        &.Processing {
          color: $brand-warning;
          background: rgba(255,255,255,.1);
        }
      }
    }
    tbody {
      //height: auto;
      //position: absolute;
      overflow-y: auto;
      overflow-x: hidden;
    }
    td, th {
      width: 100px;
      max-height: 26px;
      div {
        display: block;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        //height: 36px !important;
      }
      &.large {
        width: 200px;
      }
    }
  }
}

// iphone.
@media (max-width: $screen-xs-max) {
  .blotter {
    height: 25%;
    max-height: 220px;
    box-shadow: 0 -2px 2px 2px rgba(0,0,0,.3);
    table {
      tbody, thead {
        td, th {
          vertical-align: middle;
          width: 80px;
          max-height: 20px;
          font-size: 8px;
          padding: 2px;
          line-height: 1.1em;
          div {
            font-size: 8px;
          }
          &.large {
            width: 160px;
          }
        }
      }
      thead {
        background: $gray-lighter;
        color: $gray-dark;
      }
    }
  }
}
