.currency-pair {
  box-sizing: border-box;
  float: left;
  width: 328px;
  border: 1px solid $gray-darker;
  background: $gray-dark;
  color: $gray-light;
  margin: 2px;
  &:hover {
    background: #294464;
  }

  .currency-pair-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-left: 8px;
    border-bottom: 1px solid $gray-dark;
  }
  .currency-pair-actions {
    position: relative;
    height: 78px;
    > div {
      position: absolute;
      width: 45%;
      padding-left: 8px;
      padding-right: 8px;
    }
    .action {
      box-sizing: border-box;
    }
    .buy {
      left: 0;
      &:hover {
        background: linear-gradient(to left, rgba(0,0,0,0), $gray-dark);
        cursor: pointer;
      }
    }
    .direction {
      left: calc(50% - 20px);
      margin-top: 30px;
      width: 40px;
      height: 16px;
      &:before {
        width: 16px;
        height: 16px;
        position: absolute;
        @extend .fa;
      }
      &.up {
        &:before {
          @extend .fa-caret-up;
          color: $brand-success;
          transform: translate(50%, -10px);
        }
      }
      &.down {
        &:before {
          transform: translate(50%, 14px);
          @extend .fa-caret-down;
          color: $brand-warning;
        }
      }
    }
    .sell {
      right: 0;
      text-align: right;
      &:hover {
        background: linear-gradient(to right, rgba(0,0,0,0), $gray-dark);
        cursor: pointer;
      }
    }

    span {
      font-family: "Courier New";
      font-size: 18px;
    }
    .pip {
      font-weight: bold;
      font-size: 48px;
      color: $gray-lighter;
    }
  }

  .sizer {
    clear: both;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid $gray-dark;

    input.size {
      border: none;
      border-bottom: 1px solid lighten($gray-dark, 10%);
      background: transparent;
      outline: none !important;
      width: 100px;
      margin-left: 8px;
    }
    label {
      @extend .pull-left;
    }
  }


}
