.currency-pairs {
  margin-left: 8px;
}

.currency-pair {
  box-sizing: border-box;
  float: left;
  width: 328px;
  border: 1px solid $gray-darker;
  background: $gray-dark;
  color: $gray-light;
  margin: 4px;
  overflow: hidden;
  &:hover {
    background: $gray;
  }

  .fa-plug {
    display: none;
  }
  // states
  &.executing {
    opacity: .5;
    .currency-pair-actions, .sizer {
      pointer-events: none;
    }
  }

  &.stale {
    opacity: .5;
    background: $gray-darker;
    .currency-pair-actions, .sizer {
      pointer-events: none;
    }
    &:hover {
      opacity: 1;
    }
    .fa-plug {
      display: inline-block;
    }
    .glyphicon {
      display: none;
    }
  }

  .summary-state {
    background: linear-gradient(to bottom,rgba(255,255,255,.1), rgba(255,255,255,0));
    height: 78px;
    padding: 8px;
    color: white;
    span.key {
      color: $gray-light;
    }
  }

  .currency-pair-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-left: 8px;
    border-bottom: 1px solid $gray-dark;
    i {
      font-size: 16px;
      color: $gray-light;
      &.glyphicon {
        cursor: pointer;
        padding: 8px;
        padding-bottom: 0;
      }
    }
  }
  .currency-pair-actions {
    position: relative;
    height: 78px;
    > div {
      position: absolute;
      width: 45%;
      padding-left: 8px;
      padding-right: 8px;
    }
    .action {
      box-sizing: border-box;
    }
    .buy {
      left: 0;
      &:hover {
        background: linear-gradient(to left, rgba(0,0,0,0), $gray-dark);
        cursor: pointer;
      }
    }
    .direction {
      left: calc(50% - 20px);
      margin-top: 30px;
      width: 40px;
      height: 16px;
      &:before {
        width: 16px;
        height: 16px;
        position: absolute;
        @extend .fa;
      }
      &.up {
        &:before {
          @extend .fa-caret-up;
          color: $brand-success;
          transform: translate(50%, -10px);
        }
      }
      &.down {
        &:before {
          transform: translate(50%, 14px);
          @extend .fa-caret-down;
          color: $brand-warning;
        }
      }
    }
    .sell {
      right: 0;
      text-align: right;
      &:hover {
        background: linear-gradient(to right, rgba(0,0,0,0), $gray-dark);
        cursor: pointer;
      }
    }

    span {
      font-family: "Courier New";
      font-size: 18px;
    }
    .pip {
      font-weight: bold;
      font-size: 48px;
      color: $gray-lighter;
    }
  }

  .sizer {
    clear: both;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid $gray-dark;

    input.size {
      border: none;
      border-bottom: 1px solid lighten($gray-dark, 10%);
      background: transparent;
      outline: none !important;
      width: 100px;
      margin-left: 8px;
    }
    label {
      @extend .pull-left;
    }
    &.disabled {
      visibility: hidden;
    }
  }

  .sparkline-holder {
    height: 29px;
  }

}
