$trader-base: #212A35;
$trader-base-two: #293543;
$trader-base-three: #90AFC1;


.currency-pair {
  box-sizing: border-box;
  float: left;
  width: 300px;
  border: 1px solid $trader-base;
  background: $trader-base-two;
  color: $trader-base-three;
  margin: 2px;
  &:hover {
    background: #294464;
  }

  .currency-pair-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-left: 4px;
  }
  .currency-pair-actions {
    position: relative;
    height: 70px;
    > div {
      position: absolute;
      width: 50%;
    }
    .buy {
      left: 0;
    }
    .direction {
      left: calc(50% - 20px);
      width: 40px;
      height: 16px;
      &:before {
        width: 16px;
        height: 16px;
        position: absolute;
        @extend .fa;
      }
      &.up {
        &:before {
          @extend .fa-caret-up;
          color: $brand-success;
          transform: translate(50%, -10px);
        }
      }
      &.down {
        &:before {
          transform: translate(50%, 14px);
          @extend .fa-caret-down;
          color: $brand-warning;
        }
      }
    }
    .sell {
      right: 0;
      text-align: right;
    }

    span {
      font-family: "Courier New";
    }
    .pip {
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  input.size {
    border: none;
    border-bottom: 1px solid lighten($trader-base-two, 10%);
    background: transparent;
    outline: none !important;
    width: 100px;
    margin-left: 8px;
  }
}
