.text-danger {
  color: $brand-danger;
}

.text-success {
  color: $brand-success;
}

nav.navbar {
  margin-bottom: 4px;
  -webkit-app-region: drag;
}
.nav {
  ul, li, a {
    -webkit-app-region: no-drag;
  }
  &.chrome-controls {
    display: none;
    .openfin & {
      display: block;
    }
    padding: 14px;
    padding-bottom: 0;
    a {
      display: inline-block;
      padding-left: 4px;
    }
  }
  &.nav-status {
    -webkit-app-region: no-drag;
    padding-top: 8px;
    padding-right: 8px;
    .service-status {
      padding-top: 6px;
      padding-left: 4px;
      .node-badge {
        position: absolute;
        color: $gray-darker;
        font-style: normal;
        font-weight: bold;
        text-shadow: 0px 0px 2px white;
        font-size: 8px;
        transform: translate(-8.5px, 4px);
        user-select: none;
        cursor: default;
      }
    }
  }
}

a.navbar-brand {
  -webkit-app-region: no-drag;
  &.navbar-adaptive {
    background: $gray-lighter;
  }
}
