.text-danger {
  color: $brand-danger;
}

.text-success {
  color: $brand-success;
}

.nav {
  &.nav-status {
    padding-top: 8px;
    padding-right: 8px;
    .service-status {
      padding-top: 6px;
      padding-left: 4px;
      .node-badge {
        position: absolute;
        color: $gray-darker;
        font-style: normal;
        font-weight: bold;
        text-shadow: 0px 0px 2px white;
        font-size: 8px;
        transform: translate(-8.5px, 4px);
        user-select: none;
        cursor: default;
      }
    }
  }
}
