.numericDecimalContainer {
  width: 100%;
  text-align: center;
}

.numericAlignLeft {
  width: 50%;
  text-align: left;
  display:inline-block;
}

.numericAlignRight {
  width: 50%;
  text-align: right;
  display: inline-block;
}
