.button-container {
  padding: 0 var(--spacing-xl);
  border-radius: var(--radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container:focus {
  outline: 2px solid var(--focus-ring);
  outline-offset: 1px;
}

.button-container:disabled {
  background-color: var(--bg-disabled);
  color: var(--text-disabled);
}

.brand {
  color: var(--button-brand-fg);
  background-color: var(--button-brand-bg);
}
.brand:hover {
  color: var(--button-brand-fg_hover);
  background-color: var(--button-brand-bg_hover);
}

.primary {
  color: var(--button-primary-fg);
  background-color: var(--button-primary-bg);
}
.primary:hover {
  color: var(--button-primary-fg_hover);
  background-color: var(--button-primary-bg_hover);
}

.outline {
  color: var(--button-brand-bg);
  border: 1px solid var(--border-brand);
}

.warning {
  color: var(--text-primary);
  background-color: var(--bg-warning-primary);
}
.warning:hover {
  color: var(--button-primary-fg_hover);
  background-color: var(--button-primary-bg);
  border: 1px solid var(--border-warning_subtle);
}

.xxs {
  height: 18px;
  padding: 0 var(--spacing-sm);
}

.xs {
  height: var(--density-xs);
}

.sm {
  height: var(--density-sm);
}

.lg {
  height: var(--density-md);
}
