$positive-color: green;
$negative-color: $brand-danger;
$stroke-color: slategray;

.analytics-container {
  margin-left: 4px;
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0px;
  max-width: 400px;
  min-width: 350px;
  background: $gray-dark;
  box-shadow: -1px 0 1px rgba(0, 0, 0, .5), inset 0 0 1px rgba(255, 255, 255, .2);
  .tile & {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    margin: 0;
  }

  > span {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-left: 8px;
    margin-right: 28px;
    .tearoff &.header {
      -webkit-app-region: drag;
    }
    small {
      color: $gray-light;
      font-size: .5em;
    }
  }

  .nv-container {
    position: relative;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -1px 0 1px rgba(0, 0, 0, .5), inset 0 0 1px rgba(255, 255, 255, .2);
    background: $gray-dark;
    &.negative {
      .nvd3 g.nv-groups g.nv-group .nv-area {
        fill: $negative-color !important;
        fill-opacity: .9;
      }
    }
    .nvd3 g.nv-groups  {
      path.nv-line {
        stroke: $stroke-color;
        stroke-width: .8
      }
      path.nv-area {
        opacity: .15
      }
      .nv-bar {
        rect {
          fill-opacity: .3;
          stroke: $stroke-color;
          stroke-width: .8;
          stroke-opacity: .4;
        }
        &.positive {
          fill: $positive-color;
          text {
            fill: $gray-light;
          }
        }
        text {
          font-size: 8px;
          fill: $gray-lighter;
          font-weight: normal;
        }
        &.negative {
          fill: $negative-color;
        }
        &:hover rect {
          stroke-opacity: .5;
          fill-opacity: .7;
        }
      }
    }

    .nv-controlsWrap.nvd3-svg, .nv-axisMin-y {
      display: none;
    }

    .nv-lineChart {
      .nv-axis.nv-y {
        text {
          font-size: 8px;
        }
      }

      .nv-axis.nv-x {
        text {
          font-size: 8px;
        }
      }
    }
  }

  .buttons {
    float: right;
    height: 38px;
    overflow: hidden;
    $shadow-width: 14px;
    button.btn {
      border-left: 1px solid black;
      color: $gray-light;
      box-sizing: border-box;
      outline: none !important;
      &.selected {
        position: relative;
        z-index: 100;
        color: $gray-lighter;
        background: linear-gradient(rgba(0, 0, 0, 0), $gray-darker) !important;
        box-shadow: -1px 0 1px rgba(0, 0, 0, .5), inset 0 0 1px rgba(255, 255, 255, .2);
      }
      &.selected:before {
        content: "";
        display: block;
        position: absolute;
        width: $shadow-width;
        height: 6px;
        transition: transform 1s;
        border-radius: 50%;
        left: 50%;
        transform: translate(-($shadow-width / 2), 0);
        top: -8px;
        box-shadow: 0 0 6px 4px rgba(255, 255, 255, .5);
      }
    }

  }
  @import 'nvd3';
}
