@import '../variables';

.filter-container {
  width: auto;
  height: auto;
  position: relative;
  padding: 0 3px 3px 0;

}

.filter-container__tab {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  border-top: 1px solid $backgroundAccentColor;
  border-right: 1px solid $backgroundAccentColor;
  border-bottom: none;
  border-left: 1px solid $backgroundAccentColor;
  background-color: $accentColor;
  z-index: 3;
}

.filter-container__tab-icon {
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAyaDEwTDcgNnY1TDUgOVY2TDEgMnptNCA0djFoMlY2SDV6IiBmaWxsPSIjNzhDOERCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
}

.filter-container__content-wrapper {
  position: relative;
  width: 120px;
  height: auto;
  max-height: 200px;
  overflow: auto;
  border: 1px solid $backgroundAccentColor;
  background-color: $accentColor;
  z-index: 1;
  top: -1px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.45);
}
