@import '../variables';

.filter-container {
  width: auto;
  height: auto;
  position: relative;
  padding: 0 3px 3px 0;
  filter: drop-shadow(0 0 4px #333);
}

.filter-container__tab {
  position: relative;
  top: 0;
  right: 0;
  left: 95px;
  width: 25px;
  height: 24px;
  //border-top: 1px solid $backgroundAccentColor;
  //border-right: 1px solid $backgroundAccentColor;
  //border-bottom: none;
  //border-left: 1px solid $backgroundAccentColor;
  background-color: $accentColor;
  z-index: 3;
}

.filter-container__tab-icon {
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
  background-color: transparent;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAyaDEwTDcgNnY1TDUgOVY2TDEgMnptNCA0djFoMlY2SDV6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)center no-repeat;;
}

.filter-container__content-wrapper {
  padding: 7px;
  position: relative;
  width: 120px;
  left: 0;
  max-height: 200px;
  overflow: auto;
  //border: 1px solid $backgroundAccentColor;
  background-color: $accentColor;
  z-index: 1;
  top: -1px;
}
