#open-fin-chrome {
  width: 100%;
  height: 30px;
  background: url('../../images/adaptive-logo-statusbar.png') no-repeat, #DEE3E8;
  background-position: 6px 6px;
  align-content: center;
  vertical-align: middle;
  position: relative;
}

#open-fin-chrome a {
  width: 15px;
  cursor: pointer;
  margin-left: 5px;
}

.open-fin-chrome__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  width: 200px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 400px) {
  .open-fin-chrome__title {
    display: none;
  }
}



.open-fin-chrome__controls{
  position: absolute;
  right: 0;
  top: 5px;
  width: 80px;
}

.open-fin-chrome__controls-btn{
  padding-left: 3px;
  padding-right: 3px;
}
