$header-height: 30px;

.openfin-chrome {
  height: 100vh;
  position: relative;
  .shell__splash {
    display: none;
  }
  &:hover {
    .openfin-chrome__header-controls {
      display: block;
    }

  }
}

.openfin-chrome__header {
  width: 100%;
  height: $header-height;
  display: flex;
  -webkit-app-region: drag;
}

.openfin-chrome__header--with-bar {
  background: url('../../images/adaptive-logo-statusbar.png') no-repeat, #DEE3E8;
  background-position: 6px 6px;
  align-content: center;
  vertical-align: middle;

  .openfin-chrome__header-control {
    &:hover {
      background-color: darkgrey;
    }
  }

  .openfin-chrome__header-control--close:hover {
    background-color: #800000;
  }

}

.openfin-chrome__header--no-bar {
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
  width: calc(100% - 70px);
  cursor: move;
  .openfin-chrome__header-controls-container {
    position: absolute;
    color: #90AFC1;
  }
  .openfin-chrome__header-controls {
    display: none;
    right: 55px;
  }
  .openfin-chrome__header-title-label {
    display: none;
  }
}

.openfin-chrome__header-title {
  flex: 10;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 400px) {
  .openfin-chrome__header-title-label {
    display: none;
  }
}

.openfin-chrome__header-controls-container {
  flex: 1;
  position: relative;
  min-width: 120px;
}

.openfin-chrome__header-controls {
  list-style: none;
  position: absolute;
  right: 10px;
  padding-left: 0;
  margin: 3px 0;
}

.openfin-chrome__header-control {
  display: inline-block;
  cursor: pointer;
  > a {
    padding: 7px;
  }
  line-height: 25px;
}

.openfin-chrome__content {
  height: calc(100% - #{$header-height});

  &.openfin-chrome__content--no-header-bar {
    height: 100%;
    border: 1px solid #90AFC1;
    box-sizing: border-box;
    .spot-tile__controls {
      margin-right: 20px;
    }
  }

  > div {
    height: 100%;
  }
}

