$header-height: 30px;

.openfin-chrome {
  height: 100vh;
}

.openfin-chrome__header {
  width: 100%;
  height: $header-height;
  background: url('../../images/adaptive-logo-statusbar.png') no-repeat, #DEE3E8;
  background-position: 6px 6px;
  align-content: center;
  vertical-align: middle;
  display: flex;
  -webkit-app-region: drag;
}


.openfin-chrome__header-title {
  flex: 10;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 400px) {
  .openfin-chrome__header-title-label {
    display: none;
  }
}

.openfin-chrome__header-controls-container {
  flex: 1;
  position: relative;
  min-width: 120px;
}

.openfin-chrome__header-controls {
  list-style: none;
  position: absolute;
  right: 10px;
  padding-left: 0;
  margin: 7px 0;
}

.openfin-chrome__header-control {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  > a {
    padding-left: 10px;
  }
}

.openfin-chrome__content {
  height: calc(100% - #{$header-height});

  > div {
    height: 100%;
  }
}

