#open-fin-chrome {
  width: 100%;
  height: 30px;
  background: url('../../images/adaptive-logo-statusbar.png') no-repeat, #DEE3E8;
  background-position: 6px 6px;
  align-content: center;
  vertical-align: middle;
  display: flex;
  -webkit-app-region: drag;
}

#open-fin-chrome a {
  width: 15px;
  cursor: pointer;
  margin-left: 5px;
}

.open-fin-chrome__title {
  flex: 10;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 400px) {
  .open-fin-chrome__title--brand {
    display: none;
  }
}

.open-fin-chrome__controls-container {
  flex: 1;
  position: relative;
  min-width: 120px;
}

.open-fin-chrome__controls {
  list-style: none;
  position: absolute;
  left: 0;
  margin: 7px 0
}

.open-fin-chrome__control {
  display: inline-block;
  margin-left: 5px;
}
