@import "../variables.scss";

.trade-notification {
  padding-top: 4px;
}

.trade-notification--rejected,
.trade-notification--error {
  .trade-notification__trade-status {
    color: $spot-tile-error-color;
    text-transform: uppercase;
  }
}

.trade-notification--rejected {
  .trade-notification__summary-item {
    text-decoration: line-through;
  }
}

@mixin trade-notification__summary-item {
  line-height: 1.1;
  color: #c2c5c9;
  font-family: BrandonMedium;
}

.trade-notification__summary-item--direction {
  @include trade-notification__summary-item;
  font-size: 12px;
  text-transform: uppercase;
}

.trade-notification__label--versus {
  font-size: 12px;
}

.trade-notification__summary-item--currency {
  @include trade-notification__summary-item;
  font-size: 14px;
}

.trade-notification__summary-item--notional {
  @include trade-notification__summary-item;
  color: #f8ab02;
  font-size: 24px;
  font-family: BrandonRegular;
}

.trade-notification__summary-items {
  list-style: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

@mixin trade-notification__dismiss {
  position: absolute;
  bottom: -5px;
  right: 0;
  cursor: pointer;
}
.trade-notification__button-dismiss {
  @include trade-notification__dismiss();
}

.trade-notification__dismiss-icon {
  @include trade-notification__dismiss();
  transform: rotate(45deg);
}

.trade-notification__trade-status {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  font-family: BrandonRegular;
}

.trade-notification__details-items-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 10px 0 0 0 ;
  margin-top: 18px;
  width: 100%;
}

.trade-notification__details-item {
  flex: 1 1 33%;

  .trade-notification__details-item--label {
    color: #c2c5c9;
    text-transform: uppercase;
    font-size: 12px;
    font-family: BrandonMedium;
  }

  .trade-notification__details-item--value {
    color: white;
    font-size: 16px;
    font-family: BrandonRegular;
  }
}




