$positive-color:  green;
$brand-danger:    #ee5f5b;
$negative-color:  $brand-danger;
$stroke-color:    slategray;
$gray-light:      gray;
$gray-dark:       #293543;
$gray-lighter:    #eee;
$gray-darker:     #212a35;
$gray:            #294464;

$analytics-header-colour: #ffffff;
$default-padding: 10px;

.analytics__container {
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  background: $gray-dark;
  @import 'nvd3';
}

.analytics__controls {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}

.analytics__header {
  font-size: 16px;
  color: $analytics-header-colour;
  margin-right: 28px;
  padding: $default-padding;
}

.analytics__nv-container {
  position: relative;
  padding: $default-padding;
  background: $gray-dark;

  .nvd3 g.nv-groups  {
    .nv-bar {
      rect {
        fill-opacity: .3;
        stroke: $stroke-color;
        stroke-width: .8;
        stroke-opacity: .4;
      }
      &.positive {
        fill: $positive-color;
        text {
          fill: $gray-light;
        }
      }
      text {
        font-size: 8px;
        fill: $gray-lighter;
        font-weight: normal;
      }
      &.negative {
        fill: $negative-color;
      }
      &:hover rect {
        stroke-opacity: .5;
        fill-opacity: .7;
      }
    }
  }

  .nv-controlsWrap.nvd3-svg, .nv-axisMin-y {
    display: none;
  }

  .nv-lineChart {
    .nv-axis.nv-y {
      text {
        font-size: 8px;
      }
    }

    .nv-axis.nv-x {
      text {
        font-size: 8px;
      }
    }
  }
}

.analytics__buttons {
  float: right;
  height: 38px;
  overflow: hidden;
  $shadow-width: 14px;
  button.btn {
    border-left: 1px solid black;
    color: $gray-light;
    box-sizing: border-box;
    outline: none !important;
    &.selected {
      position: relative;
      z-index: 100;
      color: $gray-lighter;
      background: linear-gradient(rgba(0, 0, 0, 0), $gray-darker) !important;
    }
    &.selected:before {
      content: "";
      display: block;
      position: absolute;
      width: $shadow-width;
      height: 6px;
      transition: transform 1s;
      border-radius: 50%;
      left: 50%;
      transform: translate(-($shadow-width / 2), 0);
      top: -8px;
    }
  }
}

.new-chart-area{
  stroke-width: 2px !important;
  fill: url('#areaGradient');
}
.new-chart-stroke{
  stroke: url('#chartStrokeLinearGradient');
}
