$positive-color:    #3FCF1E;
$negative-color:    #CC3350;
$barchar-text-color:gray;
$bar-bg-color:      #414D5C;
$container-bg-color:#293543;
$highlight-color:   #eee;
$stroke-color:      #212a35;
$gray:              #294464;
$bar-height:        12px;

$analytics-header-colour: #ffffff;
$default-padding: 10px;

.analytics__container {
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  background: $container-bg-color;
  padding: 11px;
  @import 'nvd3';
}

.analytics__controls {
  float: right;
  padding: 10px;
  color: white;
}

.analytics__header {
  font-size: 16px;
  color: $analytics-header-colour;
  background: $container-bg-color;
  padding: 10px;
}

.analytics__header--bold{
  font-weight: bold;
}

.analytics__header-block{
  display: block;
  padding-bottom: 2px;
}

.analytics__chart-container {
  position: relative;
  padding: $default-padding;
  background: $container-bg-color;

  .nv-lineChart {
    .nv-axis.nv-y {
      text {
        font-size:10px;
      }
    }

    .nv-axis.nv-x {
      text {
        font-size: 10px;
      }
    }
  }
}

.analytics__barchart-container{
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 12px;
  color: $barchar-text-color;
  &:hover{
    color:$highlight-color;
  }
}

.analytics__barchart-bar{
  height: $bar-height;
}

.analytics__barchart-bar-background{
  fill: $bar-bg-color;
  height: $bar-height;
}

.analytics__barchart-indicator{
  stroke: $stroke-color;
  stroke-width: 1px;
  height: $bar-height;
}

.analytics__barchart-indicator--positive{
  fill: $positive-color;
}

.analytics__barchart-indicator--negative{
  fill: $negative-color;
}

.analytics__barchart-label{
  font-size: 18px;
  display: inline;
}

.analytics__barchart-container .analytics__barchart-amount{
  visibility: hidden;
  font-size: 18px;
  display: inline;
  float: right;
}

.analytics__barchart-container:hover .analytics__barchart-amount{
  visibility: visible;
  color: $highlight-color;
}

.analytics__buttons{
  width: 100%;
  text-align: center;
}

.analytics__buttons-bar {
  display: inline-block;
  border: 1px solid black;
}

.analytics__buttons-tab-btn{
  color: $barchar-text-color;
  font-size: 16px;
  position: relative;
  padding: 10px 10px 6px 10px;
  background: $container-bg-color;
  &:hover{
    background: #294464;
  }
}

.analytics__buttons-tab-btn--selected{
  color: $highlight-color;
  background: $stroke-color;
}

.new-chart-area{
  stroke-width: 2px !important;
  fill: url('#areaGradient');
}
.new-chart-stroke{
  stroke: url('#chartStrokeLinearGradient');
}

.analytics__icon--tearoff {
  cursor: pointer;
}
