$positive-color:  green;
$brand-danger:    #ee5f5b;
$negative-color:  $brand-danger;
$stroke-color:    slategray;
$gray-light:      gray;
$gray-dark:       #293543;
$gray-lighter:    #eee;
$gray-darker:     #212a35;
$gray:            #294464;
$bar-height:      12px;

$analytics-header-colour: #ffffff;
$default-padding: 10px;

.analytics__container {
  max-width: 350px;
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  background: $gray-dark;
  padding: 11px;
  @import 'nvd3';
}

.analytics__controls {
  float: right;
  padding: 10px;
  color: white;
}

.analytics__header {
  font-size: 16px;
  color: $analytics-header-colour;
  background: #293543;
  padding: 10px;
}

.analytics__header .header-bold{
  font-weight: bold;
}

.analytics__header .block{
  display: block;
  padding-bottom: 2px;
}

.analytics__chart-container {
  position: relative;
  padding: $default-padding;
  background: $gray-dark;

  .nv-lineChart {
    .nv-axis.nv-y {
      text {
        font-size:10px;
      }
    }

    .nv-axis.nv-x {
      text {
        font-size: 10px;
      }
    }
  }
}

.analytics__barchart-container{
  color:$gray-light;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 12px;
  &:hover{
    color:$gray-lighter
  }
}

.analytics__barchart-bar{
  height: $bar-height;
}

.analytics__barchart-bar .background{
  fill: #414D5C;
  height: $bar-height;
}

.analytics__barchart-bar .indicator{
  stroke: $gray-darker;
  stroke-width: 1px;
  height: $bar-height;
}

.analytics__barchart-bar .green{
  fill: #3FCF1E;
}

.analytics__barchart-bar .red{
  fill: #CC3350;
}

.analytics__barchart-label{
  font-size: 18px;
  display: block;
  display: inline;
}


.analytics__barchart-container .barchart-amount{
  visibility: hidden;
  font-size: 18px;
  display: inline;
  float: right;
}

.analytics__barchart-container:hover .barchart-amount{
  visibility: visible;
  color: $gray-lighter;
  font-size: 18px;
  display: inline;
  float: right;
}

.analytics__buttons {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  button.btn {
    color: $gray-light;
    font-size: 16px;
    position: relative;
    padding: 10px 10px 6px 10px;
    background: #293543;
    border: 1px solid black;
    &.selected {
      color: $gray-lighter;
      background: #212A35;
    }
    &:hover{
      background: #294464;
    }
  }
}


.new-chart-area{
  stroke-width: 2px !important;
  fill: url('#areaGradient');
}
.new-chart-stroke{
  stroke: url('#chartStrokeLinearGradient');
}
