$positive-color:    #3FCF1E;
$negative-color:    #CC3350;
$barchart-text-color:gray;
$bar-bg-color:      #414D5C;
$container-bg-color:#293543;
$highlight-color:   #eee;
$stroke-color:      #212a35;
$gray:              #294464;
$bar-height:        4px;
$transition-duration: .4s;

$analytics-header-colour: #ffffff;
$default-padding: 10px;

.analytics__container {
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background: $container-bg-color;
  border-left: 1px solid #414444;
  padding: 20px;

  @import 'nvd3';
  #popout-content-container & {
    height: 100%;
  }
}


.analytics__controls {
  float: right;
  color: white;
}

.analytics__header {
  font-size: 16px;
  color: $analytics-header-colour;
  padding-bottom: 10px;
}

.analytics__header-value {
  font-weight: bold;
}

.analytics__header-title {
  display: block;
  padding-bottom: 2px;
}

.analytics__header-title-icon {
  margin-right: 17px;
}



.analytics__chart-container {
  position: relative;
  background: inherit;
  width: 100%;
  height: 200px;
  font-family: BrandonMedium;
  font-size: 14px;

  .nv-lineChart {
    .nv-axis.nv-y {
      text {
        font-size: 10px;
        fill: $barchart-text-color;
      }
    }

    .nv-axis.nv-x {
      text {
        font-size: 10px;
        fill: $barchart-text-color;
      }
    }
  }
}

.analytics__barchart-container{
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 14px;
  color: $barchart-text-color;
  height: 50px;
  &:hover{
    color:$highlight-color;
  }
}

.analytics__barchart-bar{
  height: $bar-height;
  overflow: hidden;
}

.analytics__barchart-bar-background{
  height: $bar-height;
  width: 100%;
  background-color: $bar-bg-color;
  position: absolute;
  margin-top: 3px;
}

.analytics__barchart-bar-wrapper{
  vertical-align: middle;
  height: 10px;
  position: absolute;
  width: 100%;
  margin-top: 30px;
}

.analytics__barchart-border{
  height: 10px;
  width: 3px;
  background-color: #484f5f;
}

.analytics__barchart-border--center{
  position: absolute;
  left: calc(50% - 2px);
}

.analytics__barchart-border--left{
  float: left;
  display: inline;
}

.analytics__barchart-border--right{
  right: 0;
  position: absolute;
}

.analytics__barchart-title-wrapper{
  width: 100%;
  height: 30px;
  position: absolute;
  color: white;

  &:hover{
    color: #00a8cc;

    .analytics__barchart-pointer-container{
      transform: scale(1.5);
    }

    .analytics__barchart-label{
      font-size: 14px;
    }

    .analytics__barchart-label-amount{
      color: #00a8cc;
    }
  }
}

.analytics__barchart-pointer-container{
  position: absolute;
  margin-top: 25px;
  transition: left linear $transition-duration;
  z-index: 99;
}



.analytics__barchart-pointer{
  width: 0;
  height: 0;
  border-width: 8px 5px 0 5px;
  border-color: #007D92 transparent transparent transparent;
  border-style: inset;
  -webkit-transform: rotate(360deg);
  position: absolute;
  z-index: 100;
  left: -6px;
  margin-top: 2px;
}


.analytics__barchart-pointer-icon{
  color: #46477a;
  text-shadow:
  0px 0px 0 #00d2ff,
  -1px -1px 0 #00d2ff,
  1px -1px 0 #00d2ff,
  -1px 1px 0 #00d2ff,
  1px 1px 0 #00d2ff;
  rotation: 90deg;

}

.analytics__barchart-pointer--outline {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 99;
  left: -10px;
  border-width: 14px 9px 0 9px;
  border-color: #00d2ff transparent transparent transparent;
  border-style: inset;
  -webkit-transform: rotate(360deg);
}

.analytics__barchart-label{
  font-size: 13px;
  margin-top: 3px;
  white-space: nowrap;
}

.analytics__barchart-label-amount{
  color: #aaa;
}

.analytics__barchart-label-pusher{
  height: 10px;
  display: inline-block;
  transition: all linear $transition-duration;
}
.analytics__barchart-label-wrapper{
  transition: left linear $transition-duration;
  position: absolute;
  width: 100%;
  white-space: nowrap;
}

.analytics__barchart-container .analytics__barchart-amount{
  visibility: hidden;
  font-size: 18px;
  display: inline;
  float: right;
}

.analytics__barchart-container:hover .analytics__barchart-amount{
  visibility: visible;
  color: $highlight-color;
}

.analytics__bubblechart-container{
  text-anchor: middle;
  color: white;
}

.analytics__bubblechart-title {
  position: absolute;
}

.analytics__chart-title{
  display: block;
  position: relative;
  padding-bottom: 2px;
  color: $analytics-header-colour;
  font-family: BrandonMedium;
  font-size: 18px;
}

.analytics__positions-label{
  fill: white;
  font-weight: bold;
  font-size: 12px;
  pointer-events: none;
}

.analytics__positions-tooltip{
  text-anchor: middle;
  background-color: white;
  border: 1px solid gray;
}

.analytics__positions-tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 4px 10px;
  background-color: #E1E3E8;
  opacity:1.0;
  border:1px solid black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.analytics__buttons{
  width: 100%;
  text-align: center;
}

.analytics__buttons-bar {
  display: inline-block;
  border: 1px solid black;
}

.analytics__buttons-tab-btn {
  color: $barchart-text-color;
  font-size: 16px;
  position: relative;
  padding: 10px 10px 6px 10px;
  background: inherit;
  &:hover{
    background: #294464;
  }
}

.analytics__buttons-tab-btn--selected{
  color: $highlight-color;
  background: $stroke-color;
}

.new-chart-area{
  stroke-width: 2px !important;
  fill: url('#areaGradient');
}
.new-chart-stroke{
  stroke: url('#chartStrokeLinearGradient');
}

.analytics__icon--tearoff {
  cursor: pointer;
}

.analytics__icon--tearoff--hidden {
  display: none;
}

.stop1,
.lineStop1 {
  stop-color: #31a354;
}

.stop1End,
.lineStop1End {
  stop-color: #31a354;
}

.stop2,
.lineStop2 {
  stop-color: #cb181d;
}

.stop2End,
.lineStop2End {
  stop-color: #cb181d;
}
