@import '../spotTile/variables';
@import './variables';

.agGridBlotter-container {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 13px!important;
  //background-color: white;
}

.rt-blotter .ag-cell-highlight-animation {
  transition: none!important; }

.rt-blotter-shared {
  .rt-blotter__cell-rejected {
    color: red!important;
    text-transform: capitalize;
  }

  .rt-blotter__cell-pending {
    color: orange!important;
    text-transform: capitalize;
  }

  .rt-blotter__row-pending:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(225, 225, 100, 0.3)!important; ;
  }
}

.rt-blotter-dark {

  .ag-root {
    border: 0px solid black!important;
  }

  .ag-body {
    background-color: $darkBodyBgColor!important;
  }

  .ag-header {
    background-color: $primary-color!important;
    color: white!important;
    text-transform: uppercase;
    .ag-header-cell-text {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .ag-row-selected {
    background-color: white!important;
  }

  .ag-row-even {
    background-color: $darkBodyBgColor!important;
    &:hover {
      background-color: rgba(0, 167, 204, 0.25)!important;
    }
  }

  .ag-row-odd {
    background-color: $darkAlternateColor!important;
    &:hover {
      background-color: rgba(0, 167, 204, 0.25)!important;
    }
  }

  .ag-cell-focus {
    //outline: none!important;
    border-color: black!important;
  }

  .ag-cell-no-focus {
    border-right: 1px dotted lighten(black, 5%)!important;
  }

  .rt-blotter__cell-done {
    color: #5bbd5b!important;
    text-transform: capitalize;
  }
}

.rt-blotter {
  .ag-root {
    border: 0px solid grey!important;
  }

  .ag-body {
    background-color: darken(white, 10%)!important;
  }

  .ag-header {
    background-color: grey!important;
    color: white!important;
    text-transform: uppercase;
    .ag-header-cell-text {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .ag-row-even {
    background-color: white!important;
    &:hover {
      background-color: lighten(grey, 10%)!important;
      .ag-cell {
        color: white;
      }
    }
  }

  .ag-row-odd {
    background-color: darken(white, 10%)!important;
    &:hover {
      background-color: lighten(grey, 10%)!important;
      .ag-cell {
        color: white;
      }
    }
  }

  .ag-cell {
    color: $darkBodyBgColor;
  }

  .ag-cell-no-focus {
    border-right: 1px dotted darken(white, 25%)!important;
  }

  .rt-blotter__cell-done {
    color: green!important;
    text-transform: capitalize;
  }
}

.rt-blotter__rowStrikeThrough:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid red;
  width: 100%;
}

.rt-blotter__controls {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  color: #c2c5c9;
}

.rt-blotter__grid-wrapper {
  height: calc(100% - #{$statusBarHeight + $toolbarHeight})
}

.rt-blotter__status-bar {
  height: $statusBarHeight;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-style: italic;
  padding: 3px 6px;
  border: 1px solid black
}

