@keyframes highlightTradeInBlotter {
  0% { background-color: #7DE3FC; }
  100% { background-color: white; }
}

.blotter {
  background: white;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .ReactVirtualized__Table__headerColumn,
  .ReactVirtualized__Table__rowColumn {
    padding: 6px 10px;
    font-weight: 100;
    font-size: 14px;
    font-family: BrandonMedium;
    color: #1d2027;
  }

  .ReactVirtualized__Table__headerColumn {
    background-color: #e1e3e8;
    color: #1d2027;
    font-family: BrandonMedium;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.blotter__trade-field--align-right {
  .ReactVirtualized__Table__rowColumn {
    text-align: right;
  }
}

.blotter__controls {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  color: #c2c5c9;
}

.blotter__controls--hidden{
  display: none;
}

.blotter__trade {
  display: flex;
  border: none;
  border-bottom: 1px solid #e1e3e8;
  &:hover {
    background-color: #fffed7;
  }
}

  .blotter__trade--rejected {
    text-decoration: line-through;
  }

.blotter__trade--processing {
  .ReactVirtualized__Table__rowColumn {
    animation: highlightTradeInBlotter 500ms ease-in-out;
  }
}

.blotter__trade-status {
  text-transform: capitalize;

  &.cellRejected {
    color: #ee5f5b;
  }
}

.blotter--offline {
  opacity: .5;
}

.ReactVirtualized__Table__headerRow {
  background-color: #E1E3E8;
}

