$statusBarHeight: 20px;
$toolbarHeight: 34px;

//Reactive trade colour themes
$accentColor: #02a8cc;
$rtPositive: #6db812;
$rtNegative: #d80c0a;

// dark theme
$darkBodyBgColor: #262a33;
$darkAlternateColor: lighten(#1D2027, 10%);
$backgroundAccentColor: #035567;
$darkRowOddBgColor: #2b353d;
$darkRowEvenBgColor: #1e2127;
$darkInputBorderColour: #424646;
