.themeA {
  .blotter__trade {
    border-bottom: 1px solid #e1e3e8;
  }

  .public_fixedDataTable_header .public_fixedDataTableCell_main,
  .public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
    background-color: #e1e3e8;
    color: #1d2027;
    font-family: BrandonMedium;
    font-size: 12px;
    text-transform: uppercase;
  }

  .public_fixedDataTableCell_cellContent {
    font-size: 14px;
    font-family: BrandonMedium;
    color: #1d2027;
  }
}
