$failure-primary: $brand-danger;
// utils
.hide {
  display: none;
}
.text-center {
  text-align: center;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  & + .blocker {
    display: block;
  }
}

.modal {
  transition: all 0.4s ease-out;
  transform-style: preserve-3d;
  transform: translate3d(0, -100%, 0) rotateX(180deg) scale(0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  height: 60%;
  width: 60%;
  min-height: 400px;
  min-width: 640px;
  border: 1px solid #808080;
  opacity: 0;
  color: rgba(0, 0, 0, .7);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
  visibility: hidden;
  z-index: 200;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;

  .modal-heading {
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    box-shadow: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 2px solid $failure-primary;
    label {
      float: right;
      margin-right: 6px;
      font-size: 1.2em;
    }
    i.fa {
      color: inherit;
      text-decoration: none;
      font-size: 0.7em;
      line-height: 1.5em;
      cursor: pointer;
    }
  }
  .modal-body {
    text-align: left;
    padding: 8px;
  }
}
.blocker {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-position: 0 0;
  background-color: transparent;
  background-image: radial-gradient(circle , #FFFFFF, $failure-primary);
  display: none;
  opacity: .7;
  .modal & {
    display: block;
  }
}

.modal, .error-modal {
  width: 600px;
  height: 140px;
  min-height: 100px;
  .heading {
    border-bottom: 2px solid $failure-primary;
  }
  & + .blocker {
    background-image: radial-gradient(circle , #FFFFFF, $failure-primary);
  }
}

.blocker.help-blocker {
  background-image: radial-gradient(circle , #FFFFFF, $gray-darker);
}

.modal-action {
  margin: 16px;
}

@media (max-width: 1024px) {
  div.modal, div.modal.error-modal, div.modal.help-modal {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

