.browser-chrome__content {
  height: 100vh;
  width: 100vw;
  > div {
    height: 100%;
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .browser-chrome__content > div {
    height: auto;
  }
}
