$shell-background-color: #212A35;
$blotter-height: 280px;

.shell__container {
  background-color: $shell-background-color;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', sans-serif;
}

.workspace-region {
  flex: 3 1 80%;
}

.analytics {
  flex: 1 1 20%;
}


//
//
//.horizontal-wrap {
//  display: flex;
//  flex-direction: row;
//  flex-grow: 1;
//}
//
//@media (max-width: 768px) {
//  .shell__container {
//    display: block;
//    flex-grow: 0;
//    min-height: 0;
//  }
//  .horizontal-wrap {
//    display: block;
//    overflow: auto;
//    position: absolute;
//    top: 53px;
//    bottom: $blotter-height;
//    right: 0;
//    .analytics-container {
//      width: 100%;
//      max-width: 100%;
//      margin: 0;
//    }
//    .currency-pairs {
//      overflow: visible;
//      display: block;
//      .currency-pair {
//        width: 100%;
//        margin-left: 0;
//        .currency-pair-title {
//          margin-right: 0;
//        }
//      }
//    }
//  }
//  .blotter {
//    display: block;
//    position: absolute;
//    bottom: 0;
//  }
//}
