@import "./variables.scss";

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.shell__splash {
  background: url('../../common/images/logo-transparent.png'), #1f2a36;
  background-size: 400px $splash-logo-height;
  background-position: 50% $splash-logo-margin-top;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 100;
  animation: hideSplashScreen 1s ease-out 2s forwards;
}

.shell__splash-message {
  text-align: center;
  color: white;
  position: absolute;
  bottom: calc(100vh - #{$splash-logo-margin-top} - #{$splash-logo-height} - 50px);
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  font-size: 18px;
}

.shell__container {
  background-color: $shell-background-color;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: calc(100% - #{$footer-height});
  width: 100%;
  & * {
    box-sizing: border-box;
  }
  &.shell__container--no-analytics {
    .shell__workspace,
    .shell__blotter {
      width: 100%;
    }
  }
  &.shell__container--no-blotter {
    .shell__workspace {
      height: $workspace-height-expanded;
    }
  }
}

//
//.shell__side-bar {
//  flex-grow: 0;
//  flex-shrink: 0;
//  height: $analytics-height;
//  order: 6;
//  flex-basis: 100%;
//  width: $sidebar-width;
//}

.shell__analytics {
  flex-grow: 0;
  flex-shrink: 0;
  height: $analytics-height;
  overflow-y: auto;
  background: $panel-background-color;
  padding: 0px;
  flex-basis: 100%;
  width: $analytics-width;
  order: 5;
}

.shell__workspace {
  flex-grow: 1;
  height: $workspace-height;
  overflow-y: auto;
  overflow-x: hidden;
  width: $workspace-width;
  flex-basis: $workspace-height;
  order: 2;
}

.shell__blotter {
  flex-grow: 1;
  height: $blotter-height;
  overflow: hidden;
  width: $blotter-width;
  flex-basis: $blotter-height;
  order: 3;
}

.shell__footer {
  height: $footer-height;
}

.shell__button--reconnect {
  min-width: 100px;
  height: 28px;
  margin: 20px 10px;
}

@media all and (max-width: 700px) {
  body {
    overflow-y: auto;
  }
  .shell__container {
    height: 100%;
    flex-direction: column;
  }

  .shell__analytics,
  .shell__workspace {
    height: auto;
    width: 100%;
  }

  .shell__analytics,
  .shell__workspace,
  .shell__blotter {
    flex: 1;
  }

  .shell__analytics {
    order: 2;
  }
  .shell__blotter {
    min-height: 400px;
    width: 100%;
    order: 3;
  }
  .shell__side-bar {
    display: none;
  }
}
