$shell-background-color:      #212A35;
$panel-background-color:      #293543;
$blotter-height:              20vh;
$header-height:               30px;
$footer-height:               30px;
$workspace-height:            calc(100% - #{$blotter-height} - #{$footer-height});
$workspace-height-expanded:   calc(100% - #{$footer-height});
$analytics-height:            $workspace-height;
$analytics-height-expanded:   $workspace-height-expanded;
$analytics-width:             400px;
$workspace-width:             calc(100vw - #{$analytics-width});
$splash-logo-height:          400px;
$splash-logo-margin-top:      20vh;

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.shell__splash {
  background: url('../../common/images/logo-transparent.png'), #1f2a36;
  background-size: 400px $splash-logo-height;
  background-position: 50% $splash-logo-margin-top;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 100;
  animation: hideSplashScreen 1s ease-out 2s forwards;
}

.shell__splash-message {
  text-align: center;
  color: white;
  position: absolute;
  bottom: calc(100vh - #{$splash-logo-margin-top} - #{$splash-logo-height} - 50px);
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  font-size: 18px;
}

.shell__container {
  background-color: $shell-background-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  width: 100vw;
  & * {
    box-sizing: border-box;
  }

  // scrollbar
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #293543;
    border: 4px solid $shell-background-color;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  //ie
  -ms-scrollbar-arrow-color: lightgrey;
  -ms-scrollbar-base-color: $panel-background-color;
  -ms-scrollbar-track-color: $shell-background-color;
}

.shell__main-area{
  flex: 1 100vw;
  order: 2;
  height: $workspace-height;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;

  &.shell__main-area--expanded{
    height: $workspace-height-expanded;
  }
}

.shell__workspace {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: inline-block;
  padding-left: 5px;
  order: 3;
  flex-grow: 2;
}

.shell__side-bar{
  height: 100%;
  display: inline-block;
  order: 1;
  flex-grow: 0;
  float: left;
}

.shell__analytics {
  display: inline-block;
  height: 100%;
  float: left;
  order: 2;
  flex-grow: 0;
}

.shell__blotter {
  flex: 1 100vw;
  order: 4;
  height: $blotter-height;
  overflow: hidden;
}

.shell__footer {
  flex: 1 100vw;
  min-height: $footer-height;
  order: 5;
  margin-top: auto;
}


.shell__button--reconnect {
  min-width: 100px;
  height: 28px;
  margin: 20px 10px;
}

@media all and (max-width: 700px) {
  body {
    overflow-y: auto;
  }
  .shell__container {
    height: 100%;
    flex-direction: column;
  }

  .shell__analytics,
  .shell__workspace {
    height: auto;
  }

  .shell__analytics,
  .shell__workspace,
  .shell__blotter,
  .shell__footer {
    flex: 1;
  }

  .shell__blotter {
    min-height: 400px
  }
}
