version: '3'
services:
# infrastructure
  eventstore:
    container_name: eventstore
    image: ${DOCKER_USER}/eventstore:${BUILD_VERSION}
    build:
      dockerfile: Dockerfile
      context: ./services/eventstore
  broker:
    image: ${DOCKER_USER}/broker:${BUILD_VERSION}
    build:
      dockerfile: Dockerfile
      context: ./services/broker
    ports:
      - '8000:8000'
# dotnet services
  servers:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    build:
      dockerfile: Dockerfile
      context: ./server/dotNet
  initialise:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    depends_on:
      - broker
      - eventstore
    command: dotnet ./Adaptive.ReactiveTrader.Server.Launcher.dll config.prod.json --populate-eventstore
  analytics:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    hostname: analytics
    container_name: analytics
    command: 'dotnet ./Adaptive.ReactiveTrader.Server.Analytics.dll config.prod.json'
    depends_on:
      - broker
      - eventstore
  pricing:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    hostname: pricing
    container_name: pricing
    command: 'dotnet ./Adaptive.ReactiveTrader.Server.Pricing.dll config.prod.json'
    depends_on:
      - broker
      - eventstore
      - analytics
  referencedataread:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    hostname: referencedataread
    container_name: referencedataread
    command: 'dotnet ./Adaptive.ReactiveTrader.Server.ReferenceDataRead.dll config.prod.json'
    depends_on:
      - broker
      - eventstore
      - pricing
  tradeexecution:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    hostname: tradeexecution
    container_name: tradeexecution
    command: 'dotnet ./Adaptive.ReactiveTrader.Server.TradeExecution.dll config.prod.json'
    depends_on:
      - broker
      - eventstore
      - referencedataread
  blotter:
    image: ${DOCKER_USER}/servers:${BUILD_VERSION}
    hostname: blotter
    container_name: blotter
    command: 'dotnet ./Adaptive.ReactiveTrader.Server.Blotter.dll config.prod.json'
    depends_on:
      - broker
      - eventstore
      - tradeexecution
# node services
  pricehistory:
    image: ${DOCKER_USER}/pricehistory:${BUILD_VERSION}
    build:
      dockerfile: Dockerfile.dev
      context: ./server/node/priceHistory
    depends_on:
      - broker
      - pricing
    environment:
     - BROKER_HOST=broker
     - BROKER_PORT=8000
  nlp:
    image: ${DOCKER_USER}/nlp:${BUILD_VERSION}
    hostname: nlp
    build:
      dockerfile: Nlp.Dockerfile
      context: ./server/node
    depends_on:
      - broker
    environment:
      - BROKER_HOST=broker
      - BROKER_PORT=8000
  openfinconfig:
    image: ${DOCKER_USER}/openfinconfig:${BUILD_VERSION}
    hostname: openfinconfig
    build:
      dockerfile: OpenfinConfig.Dockerfile
      context: ./server/node
  bot:
    hostname: bot
    image: ${DOCKER_USER}/bot:${BUILD_VERSION}
    build:
      context: ./server/node/bot
# web client
  nginx:
    image: ${DOCKER_USER}/nginx:${BUILD_VERSION}
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./services/nginx
    ports:
      - '80:80'
  client:
    image: ${DOCKER_USER}/client:${BUILD_VERSION}
    build:
      dockerfile: Dockerfile
      context: ./client
      args:
        - CI=true
        - REACT_APP_BUILD_VERSION=${BUILD_VERSION}