$glyphicons-font-path: '../fonts/bootstrap/glyphicons-halflings-regular';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$glyphicons-font-path}.eot');
  src: url('#{$glyphicons-font-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$glyphicons-font-path}.woff2') format('woff2'),
    url('#{$glyphicons-font-path}.woff') format('woff'),
    url('#{$glyphicons-font-path}.ttf') format('truetype');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-new-window {
  &:before {
    content: '\e164';
  }
}

.glyphicon-stats {
  &:before {
    content: '\e185';
  }
}

.glyphicon-refresh {
  &:before {
    content: '\e031';
  }
}

.glyphicon-log-out {
  &:before {
    content: '\e163';
  }
}

@font-face {
  font-family: 'Rubik Light';
  src: url('../fonts/RubikLight.woff2') format('woff2');
  src: url('../fonts/RubikLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonBold';
  src: url('../fonts/brandon/Brandon_bld.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonLight';
  src: url('../fonts/brandon/Brandon_light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonMedium';
  src: url('../fonts/brandon/Brandon_med.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonRegular';
  src: url('../fonts/brandon/Brandon_reg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BrandonThin';
  src: url('../fonts/brandon/Brandon_thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
