@import 'variables';

.agGridBlotter-container {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 13px;
}

.rt-blotter .ag-cell-highlight-animation {
  transition: none;
}

@mixin status-indicator($bgColor) {
  width: 5px !important;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: transparentize($bgColor, 0.25);
}

.rt-blotter-shared {
  font-family: BrandonLight;

  // header
  .ag-header {
    text-transform: uppercase;
    border-bottom: 2px solid $accentColor; //!important;
    padding: 3px 0 0 10px;
    height: 30px;

    .ag-header-cell-filtered {
      .ag-header-cell-menu-button {
        opacity: 1 !important;
      }
    }

    .ag-header-cell-text {
      font-size: 12px;
      font-family: BrandonBold;
      color: $accentColor;
    }

    .ag-header-cell-menu-button {
      padding-right: 10px;
    }

    .rt-header__numeric {
      .ag-cell-label-container {
        padding-right: 10px;
        text-align: right;
      }
    }

    .rt-blotter__rates-custom-header {
      .ag-header-cell-label {
        text-align: center;
        justify-content: center;
      }
    }

    .ag-header-cell-text {
      font-size: 13px;
      font-weight: bold;
    }

    .ag-header-cell-menu-button {
      margin-top: 1px;
    }
  }

  // cells
  .ag-cell {
    padding: 3px 0 0 10px;
    border: none;
  }

  .rt-blotter__numeric-cell {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }

  .rt-blotter__numeric-cell--decimmal {
    display: flex;
    justify-content: center;
  }

  .ag-cell-no-focus {
    border: none;
  }

  .ag-cell-focus {
    border: none;
    outline: none;
  }

  .rt-blotter__cell-rejected {
    color: red;
    text-transform: capitalize;
  }

  .rt-blotter__cell-pending {
    // color: orange;
    text-transform: capitalize;
  }

  .rt-blotter__status-indicator--rejected {
    @include status-indicator($rtNegative);
  }

  .rt-blotter__status-indicator--done {
    @include status-indicator($rtPositive);
  }

  .rt-blotter__status-indicator--pending {
    @include status-indicator(#878a8e);
  }

  .rt-blotter__row-pending:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #878a8e; //rgba(225, 225, 100, 0.4); ;
  }
}

.rt-blotter-dark {
  color: white;
  .ag-root {
    border: 0px solid black;
  }
  .ag-body {
    background-color: $darkBodyBgColor;
  }

  // header
  .ag-header {
    background-color: $backgroundAccentColor;
    color: white;
    text-transform: uppercase;

    .ag-icon-desc {
      background-color: transparent;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik01IDJoMnY5SDV6Ii8+PHBhdGggZD0iTTguOTkzIDYuMVY0LjM5M2gtNnY2SDQuN1Y2LjFoNC4yOTN6IiBpZD0iYiIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjx1c2UgZmlsbD0iIzc4QzhEQiIgeGxpbms6aHJlZj0iI2EiLz48cGF0aCBzdHJva2U9IiM3OEM4REIiIGQ9Ik01LjUgMi41aDF2OGgtMXoiLz48ZyB0cmFuc2Zvcm09InJvdGF0ZSgtMTM1IDUuOTkzIDcuMzkzKSI+PHVzZSBmaWxsPSIjNzhDOERCIiB4bGluazpocmVmPSIjYiIvPjxwYXRoIHN0cm9rZT0iIzc4QzhEQiIgZD0iTTguNDkzIDUuNnYtLjcwN2gtNXY1SDQuMlY1LjZoNC4yOTN6Ii8+PC9nPjwvZz48L3N2Zz4=);
    }

    .ag-icon-asc {
      background-color: transparent;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik01IDNoMnY5SDV6Ii8+PHBhdGggZD0iTTguOTkzIDUuMlYzLjQ5M2gtNnY2SDQuN1Y1LjJoNC4yOTN6IiBpZD0iYiIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjx1c2UgZmlsbD0iIzc4QzhEQiIgeGxpbms6aHJlZj0iI2EiLz48cGF0aCBzdHJva2U9IiM3OEM4REIiIGQ9Ik01LjUgMy41aDF2OGgtMXoiLz48ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSA1Ljk5MyA2LjQ5MykiPjx1c2UgZmlsbD0iIzc4QzhEQiIgeGxpbms6aHJlZj0iI2IiLz48cGF0aCBzdHJva2U9IiM3OEM4REIiIGQ9Ik04LjQ5MyA0Ljd2LS43MDdoLTV2NUg0LjJWNC43aDQuMjkzeiIvPjwvZz48L2c+PC9zdmc+);
    }

    .ag-icon-filter {
      // we are hiding the filter indicator, as we are displaying the indicators in the toolbar
      display: none;
    }

    .ag-icon-menu {
      background-color: transparent;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAyaDEwTDcgNnY1TDUgOVY2TDEgMnptNCA0djFoMlY2SDV6IiBmaWxsPSIjNzhDOERCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    }
  }

  // row
  .ag-row-selected {
    background-color: white;
  }

  .ag-row-even {
    background-color: $darkRowEvenBgColor;
    &:hover {
      background-color: $primary-color;
    }
  }

  .ag-row-odd {
    background-color: $darkRowOddBgColor;
    &:hover {
      background-color: $primary-color;
    }
  }

  .rt-blotter__cell-done {
    color: #5bbd5b;
    text-transform: capitalize;
  }
}

.rt-blotter {
  .ag-root {
    border: 0px solid grey;
  }

  .ag-header {
    background-color: grey;
    color: white;
    text-transform: uppercase;
    .ag-header-cell-text {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .ag-row-even {
    background-color: white;
    &:hover {
      background-color: lighten(grey, 10%);
      .ag-cell {
        color: white;
      }
    }
  }

  .ag-row-odd {
    background-color: darken(white, 10%);
    &:hover {
      background-color: lighten(grey, 10%);
      .ag-cell {
        color: white;
      }
    }
  }

  .ag-cell {
    color: $darkBodyBgColor;
  }

  .ag-cell-no-focus {
    border-right: 1px dotted darken(white, 25%);
  }

  .rt-blotter__cell-done {
    color: green;
    text-transform: capitalize;
  }
}

.rt-blotter__rowStrikeThrough:before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid red;
  width: 100%;
}

.rt-blotter__activeSymbol:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  background-color: $accentColor;
  width: 100%;
  height: 100%;
}

.rt-blotter__controls {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  color: #c2c5c9;
}

.rt-blotter__grid-wrapper {
  height: calc(100% - #{$statusBarHeight + $toolbarHeight});
}

.rt-blotter__status-bar {
  height: $statusBarHeight;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-style: italic;
  padding: 0px 6px 2px;
  background-color: $backgroundAccentColor;
}

.rt-status-indicator__header {
  max-width: 8px;
  padding: 0;
}

.rt-blotter__ccy-symbol {
  margin-left: 3px;
  color: #aaa;
}

.capitalise {
  text-transform: capitalize;
}

.blotter__controls--hidden {
  display: none;
  visibility: hidden;
}
