@import 'variables';

$filterContainerWidth: 160px;
$filterContainerTabOffset: 135px;
$borderRadius: 3px;
$inputBorder: 1px solid lighten($accentColor, 10%);
$inputTextWidth: calc(#{$filterContainerWidth} - 20px);

*, *:before, *:after {
  box-sizing: border-box;
}

.ag-menu {
  pointer-events: none; // disable mouse events to be able to click through transparent areas
  overflow: hidden!important;
}

.filter-container {
  width: auto;
  height: auto;
  position: relative;
  padding: 3px 3px 3px 3px;
  filter: drop-shadow(-1px -1px 3px #222);

  // scrollbar
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: lighten($backgroundAccentColor, 10%);
    border: solid 3px $accentColor;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $backgroundAccentColor;
    border: 3px solid $accentColor;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  -ms-scrollbar-arrow-color: lightgrey;
  -ms-scrollbar-base-color: #293543;
  -ms-scrollbar-track-color: #1d2027;
}

.filter-container__tab {
  pointer-events: auto;
  position: relative;
  top: 0;
  right: 0;
  left: $filterContainerTabOffset;
  width: 25px;
  height: 24px;
  background-color: $accentColor;
  z-index: 3;
}


.filter-menu__layout-right {
  .filter-container__tab {
    left: 0px;
  }
}

.filter-container__tab-icon {
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
  background-color: transparent;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAyaDEwTDcgNnY1TDUgOVY2TDEgMnptNCA0djFoMlY2SDV6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)center no-repeat;;
}

.filter-container__content-wrapper {
  pointer-events: auto;
  padding: 7px;
  position: relative;
  width: auto;
  max-width: 250px;
  min-width: $filterContainerWidth;
  left: 0;
  max-height: 180px;
  // overflow: auto;
  background-color: $accentColor;
  z-index: 1;
  top: -1px;
  white-space: nowrap;
}

.filter_container__select-all-option-container {
  border-bottom: 1px solid lighten($backgroundAccentColor, 10%);
  padding-bottom: 2px;
}

.filter_container__option-items-container {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 6px;
}

.filter_container__option-items-wrapper {
  overflow: hidden;
}

.filter-container__checkbox-container {
  position: relative;
  height: 20px;
}

.filter-container__free-text-input {
  color: white;
  background-color: $backgroundAccentColor;
  border: $inputBorder;
  width: $inputTextWidth!important;
  border-radius: $borderRadius;
  height: 24px!important;
  padding-top: 0;
  padding-left: 4px!important;
  padding-right: 20px!important;
  margin-bottom: 5px;
}

.filter-container__free-text-input:focus {
  outline: none;
}

.filter-container__free-text-input::-webkit-input-placeholder {
  color: $accentColor;
  font-size: 11px;
  padding-left: 4px!important;
}

.filter-container__checkbox {
  position: absolute; // take it out of document flow
  display: flex;
  opacity: 0; // hide it
  padding: 2px 0px

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0px
  }

  // Box.
  & + label:before {
    content: '';
    margin: 2px 10px 1px 2px;
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    border: 1px solid lighten($backgroundAccentColor, 10%);
    background: transparent;
  }

  // Box hover
  &:hover + label:before {
    border: 1px solid darken($accentColor, 15%);
  }

  // Box checked
  &:checked + label:before {
    background: $accentColor;
    color: white;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.filter-container__select {
  position: relative;
  display: inline-block;
  margin: 0px;
  width: 100%;
  display: inline-block;
  width: $inputTextWidth;
  cursor: pointer;
  padding: 3px 6px;
  outline: 0;
  border: $inputBorder;
  border-radius: $borderRadius;
  background-color: $backgroundAccentColor;
  color: #FFF7F7;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.filter-container__selector-wrapper {
  margin: 5px 0px;
  .select_arrow {
    position: absolute;
    top: 20px;
    right: 18px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 7px 4px 0px 4px;
    border-color: #EBE1E1 transparent transparent transparent;
  }

  .filter-container__select select:hover,
  .filter-container__select select:focus {
    color: #000000;
    background: #CCCCCC;
  }
  .filter-container__select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .filter-container__select select:hover ~ .select_arrow,
  .filter-container__select select:focus ~ .select_arrow {
    border-top-color: #5ACCCC;
  }
  .filter-container__select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
  }
}
