$header-height: 30px;

.openfin-chrome {
  height: 100vh;
  position: relative;
  .shell__splash {
    display: none;
  }
  &:hover {
    .openfin-chrome__header-controls {
      display: block;
    }
  }
}
.openfin-chrome__header {
  width: 100%;
  height: $header-height;
  display: flex;
}

.openfin-chrome__header--with-bar {
  background: url('../images/adaptive-logo-light.svg') no-repeat, #dee3e8;
  background-position: 6px 1px;
  align-content: center;
  vertical-align: middle;

  .openfin-chrome__header-control {
    &:hover {
      background-color: darkgrey;
    }
  }

  .openfin-chrome__header-control--close:hover {
    background-color: #800000;
  }
}

.openfin-chrome__header--no-bar {
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
  // when using -webkit-app-region: drag; cursor is overwritten by system settings and the visual result is contradictory to function
  // cursor: move;
  .openfin-chrome__header-controls-container {
    color: #90afc1;
  }

  .openfin-chrome__header-controls {
    display: none;
  }
  .openfin-chrome__header-title-label {
    display: none;
  }
}

.openfin-chrome__header-title {
  flex: 10;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
  -webkit-app-region: drag;
}

@media (max-width: 400px) {
  .openfin-chrome__header-title-label {
    display: none;
  }
}

.openfin-chrome__header-controls-container {
  flex: 0;
  position: relative;
  min-width: 90px;
}

.openfin-chrome__header-controls {
  list-style: none;
  position: absolute;
  padding-left: 0;
  right: 0;
  padding-right: 5px;
  margin: 3px 0;
}

.openfin-chrome__header-control {
  display: inline-block;
  cursor: pointer;
  > a {
    padding: 7px;
  }
  line-height: 25px;
}

.openfin-chrome__content {
  height: calc(100% - #{$header-height});

  &.openfin-chrome__content--no-header-bar {
    height: 100%;
    border: 1px solid #90afc1;
    box-sizing: border-box;
    .spot-tile__controls {
      margin-right: 20px;
    }
  }

  > div {
    height: 100%;
  }
}
