@import 'shellVariables';

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.shell__browser_wrapper {
  width: 100vw;
  height: 100vh;
}

@media all and (max-width: 700px) {
  .shell__browser_wrapper {
    height: auto;
  }
}

.shell__splash {
  background: url('../../common/images/logo-transparent.png'), #1f2a36;
  background-size: 400px $splash-logo-height;
  background-position: 50% $splash-logo-margin-top;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 100;
  animation: hideSplashScreen 1s ease-out 2s forwards;
}

.shell__splash-message {
  text-align: center;
  color: white;
  position: absolute;
  bottom: calc(
    100vh - #{$splash-logo-margin-top} - #{$splash-logo-height} - 50px
  );
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  font-size: 18px;
}

.shell__container {
  background-color: $shell-background-color;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  height: calc(100% - #{$footer-height});
  width: 100%;
  & * {
    box-sizing: border-box;
  }
}

.shell_workspace_blotter {
  height: 100%;
  width: 100%;
  min-height: 20px;
  & * {
    box-sizing: border-box;
  }
}

.shell__sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  height: $analytics-height;
  overflow-y: auto;
  background: $panel-background-color;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.shell__workspace {
  flex-grow: 1;
  height: auto; // $workspace-height;
  overflow-y: auto;
  overflow-x: hidden;
  width: $workspace-width;
  order: 1;
}

.shell__blotter-container {
  width: 100%;
  height: auto;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.shell__blotter {
  width: 100%;
  height: 100%;
  overflow: auto;
  order: 2;
  box-sizing: border-box;
}

.shell__footer {
  height: $footer-height;
}

.shell__button--reconnect {
  min-width: 100px;
  height: 28px;
  margin: 20px 10px;
}

@media all and (max-width: 700px) {
  body {
    overflow-y: auto;
  }
  .shell__container {
    height: 100%;
    flex-direction: column;
  }

  .shell__sidebar,
  .shell__workspace {
    height: auto;
    width: 100%;
  }

  .shell__sidebar,
  .shell__workspace,
  .shell__blotter {
    flex: 1;
  }

  .shell__sidebar {
    order: 2;
  }
  .shell__blotter {
    min-height: 400px;
    width: 100%;
    order: 3;
  }
  .shell__side-bar {
    display: none;
  }
}
// Resizer for the split pane view
.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
