// base
$error-color: #d32121;
$success-color: #7ed321;
$warning-color: #f8ab02;

// Spot tile

$spot-tile-primary-color: white;
$spot-tile-secondary-color: #90afc1;
$spot-tile-error-color: #d32121;

$primary-color: #00a8cc;

// blotter
$statusBarHeight: 20px;
$toolbarHeight: 34px;

// Reactive trade colour themes
$accentColor: #02a8cc;
$rtPositive: #6db812;
$rtNegative: #d80c0a;

// dark theme
$darkBodyBgColor: #262a33;
$darkAlternateColor: lighten(#1d2027, 10%);
$backgroundAccentColor: #035567;
$darkRowOddBgColor: #2b353d;
$darkRowEvenBgColor: #1e2127;
$darkInputBorderColour: #424646;

//footer
$error-color: #d32121;
$success-color: #7ed321;
$warning-color: #f8ab02;
