.workspace-region {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
}

.workspace-region__item {
  @media (max-width: 899px) {
    width: calc(100% - 10px);
  }

  @media (min-width: 900px) {
    width: calc(50% - 10px);
  }

  @media (min-width: 1400px) {
    width: calc(33% - 10px);
  }

  margin: 5px;
}

.workspace-region__icon--loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 75px;
  height: 75px;
}
