name: Branch build

on:
  push:
    branches:
      - '**'

defaults:
  run:
    working-directory: src/new-client

env:
  BUCKET_WEB: reactive-trader-web-builds
  BUCKET_OPENFIN: reactive-trader-openfin-builds
  BUCKET_FINSEMBLE: reactive-trader-finsemble-builds
  VITE_HYDRA_URL: wss://trading-web-gateway-rt-dev.demo.hydra.weareadaptive.com

jobs:
  build:
    name: Build & deploy

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set variables
        id: vars
        run: |
          echo "::set-output name=branch::$(git branch --show-current | sed 's/\//_/g')"
          echo "::set-output name=ENVIRONMENT::$([[ $(git branch --show-current) = env/uat ]] && echo 'uat' || [[ $(git branch --show-current) = master ]] && echo 'dev' || echo 'env')"
          echo "::set-output name=URL_SUFFIX::$([[ $(git branch --show-current) = env/uat || $(git branch --show-current) = master ]] && echo '' || echo '/branch/${{ steps.vars.outputs.branch }}')"

      -name: Echo url suffix
        run: echo ${{ steps.vars.outputs.URL_SUFFIX }}

      - name: Set up GCloud
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GOOGLE_PROJECT_ID }}
          service_account_key: ${{ secrets.GOOGLE_PRIVATE_KEY }}

      - name: Decrypt NPM credentials
        run: |
          gcloud kms decrypt \
            --ciphertext-file=npmrc.enc \
            --plaintext-file=.npmrc \
            --location=global \
            --keyring=rt-keyring \
            --key=npmrc-key

      - name: Install
        run: npm ci

      - name: Build (web)
        env:
          BASE_URL: /branch/${{ steps.vars.outputs.branch }}
          VITE_BUILD_VERSION: ${{ github.sha }}
          ENVIRONMENT: ${{ steps.vars.outputs.ENVIRONMENT }}
        run: npm run build

      - name: Deploy (web)
        run: |
          gsutil -m \
            -h "Cache-Control: no-cache" \
            rsync -d -r dist \
            gs://$BUCKET_WEB/branch/${{ steps.vars.outputs.branch }}

      - name: Build (OpenFin)
        env:
          BASE_URL: https://openfin.${{ steps.vars.outputs.ENVIRONMENT }}.reactivetrader.com
          VITE_BUILD_VERSION: ${{ github.sha }}
          ENVIRONMENT: ${{ steps.vars.outputs.ENVIRONMENT }}
        run: npm run openfin:build

      - name: Deploy (OpenFin)
        run: |
          gsutil -m \
            -h "Cache-Control: no-cache" \
            rsync -d -r dist \
            gs://$BUCKET_OPENFIN/branch/${{ steps.vars.outputs.branch }}

      - name: Build (Finsemble)
        env:
          BASE_URL: /branch/${{ steps.vars.outputs.branch }}
          VITE_BUILD_VERSION: ${{ github.sha }}
          ENVIRONMENT: ${{ steps.vars.outputs.ENVIRONMENT }}
        run: npm run finsemble:build

      - name: Deploy (Finsemble)
        run: |
          gsutil -m \
            -h "Cache-Control: no-cache" \
            rsync -d -r dist \
            gs://$BUCKET_FINSEMBLE/branch/${{ steps.vars.outputs.branch }}
