name: CI

on:
  push:
    branches:
    - master
    - release/**
    tags:
    - v*

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Fetch tags
      run: git fetch origin +refs/tags/*:refs/tags/*

    - name: Set release tag
      run: echo "TAG=$(git describe)" >> $GITHUB_ENV

    - name: Build
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: ./deploy/build.sh

    # - name: Run integration tests
    #   env:
    #     DOCKER_USER: ${{ secrets.DOCKER_USER }}
    #     BUILD_VERSION: ${{ env.TAG }}
    #   run: docker-compose -f ./src/docker-compose.e2e.yml -f ./src/docker-compose.yml run integration

    - name: Autheticate with Docker Hub
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      run: |
        echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin

    - name: Push
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
      run: ./deploy/push.sh

    - name: Set deployment environment (dev)
      if: github.ref == 'refs/heads/master'
      run: echo "DEPLOY_ENV=dev" >> $GITHUB_ENV

    - name: Set deployment environment (uat)
      if: startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/tags/')
      run: echo "DEPLOY_ENV=uat" >> $GITHUB_ENV

    - name: Trigger deployment
      uses: chrnorm/deployment-action@releases/v1
      with:
        token: ${{ secrets.DEPLOY_TOKEN }}
        environment: ${{ env.DEPLOY_ENV }}
        target_url: 'https://web-${{ env.DEPLOY_ENV }}.adaptivecluster.com'
        description: 'Deploy ${{ env.BUILD_VERSION }} to ${{ env.DEPLOY_ENV }}'
