@import "./../variables.scss";

$price-pip-width: 70px;
$price-tenth-width: 20px;
$price-big-figure-width: 50px;

.price-button {
  text-align: center;
  box-sizing: border-box;
  padding: 1.5px;
}

.price-button__direction {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  font-family: BrandonRegular;
}

.price-button__wrapper {
  white-space: nowrap;
}

.price-button__big-figure,
.price-button__tenth,
.price-button__pip {
  display: inline-block;
  vertical-align: middle;
}

.price-button__big-figure,
.price-button__tenth {
  font-size: 18px;
  font-family: BrandonLight;
  vertical-align: baseline;
}

.price-button__big-figure {
  text-align: right;
  width: $price-big-figure-width;
}

.price-button__tenth {
  text-align: left;
  width: $price-tenth-width;
}

.price-button__pip {
  width: $price-pip-width;
  padding-left: 5px;
  padding-right: 5px;
  color: $primary-color;
  font-size: 52px;
  line-height: 65px;
  font-family: BrandonMedium;
}

.price-button__tenth,
.price-button__pip {
  vertical-align: baseline;
}
