{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true,
    "commonjs": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  }
}
